body{

background-image: url(../img/images.png);
background-position: left left;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.imagen{

    width: 200px;
    margin-top: 50px;
    margin-left: 50px;
}
.img{
width: 300px;
height: 300px;
margin-left: 700px;
margin-top: 10px;

}
.contenedor{

display: flex;
justify-content: right;


}
.imagen2{

    width: 1285px;
    height: 500px;
    margin-inline-start: 55px;
}

.b{


    width: 120px;
    height: 90px;
    margin-left: 60px;


} 
.colombia{

display: flex;
justify-content: center;


} 

.imagen4{

width: 300px;
margin-left: 500px;


}
.letra{
margin-left: 70px;

}
.imagen5{

width: 1275px;
height: 300px;
margin-top: 20px;
margin-left: 55px;

}
.parrafo2{

display: flex;
margin-left: 60px;

}
.texto6{

margin-right: 15px;


}
.texto7{

margin-left: 15px;


}
.llano{


width: 150px;
height: 100px;
margin-left: 150px;

}
.titulo{

margin-left: 150px;


}