body{

background-image: url(../img/images.png);
background-position: left left;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.imagen{ 

    width: 200px;
    margin-top: 20px;
    margin-left: 100px;
 }
.contenedor{
    display: flex;
  
    padding: 50px 20px;
justify-content: left;
margin-left: 50px;
justify-content: space-between;
} 

.img{
width: 50vw;
height: 40vw;
margin-left: 10px;

max-width: 200

}
.imagen2{

    width: 80vw;
    height: 20vw;
    max-width: 1300px;
    min-width: 300px;
    margin-inline-start: 52px;
    border-radius: 15px;
box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

.b{


    width: 120px;
    height: 90px;
    margin-left: 70px;


} 
.colombia{
margin-left: 50px;
font-size: 2rem;

} 

.imagen4{

width:80vw;
height: 30vw;
margin-right: 10px;
border: dashed 3px rgb(101, 255, 54);
border-radius: 15px;
}
.letra{

margin-top: 10px;
font-size: 2rem;
}


.imagen5{

width: 70vw;
height: 30vw;
margin-top: 1px;
margin-left: 81px;
border: dashed 3px rgb(82, 252, 82);
border-radius: 15px;

}
.parrafo2{

display: flex;
margin-left: 60px;

}
.texto6{

margin-left: 30px;
font-size: 2rem;

}
.texto7{

margin-left: 30px;
font-size: 2rem;

}
.llano{


width: 150px;
height: 100px;
margin-left: 150px;

}
.titulo{

margin-left: 150px;


}
*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
nav{

background: rgb(20, 146, 230);
height: 80px;
width: 100%;
}
.enlace{
position: absolute;
padding: 5px 50px;

}
.logo{

height: 10px;

}
nav ul{

float: right;
margin-right: 20px;

}
nav ul li{

display: inline-block;
line-height: 50px;
margin: 0 5px;
}
nav ul li a{

color: rgb(238, 233, 233);
font-size: 18px;
padding: 1px 2px;
border-radius: 3px;
text-transform: uppercase;
}
li a.active, li a:hover{
color: rgb(31, 255, 68);


}
.checkbtn{

font-size: 30px;
float: right;
line-height: 50px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{

display: none;


}
@media (max-width: 952px){

.enlace{
padding-left: 20px;

}
nav ul li a{
font-size: 16px;

}
}
@media (max-width: 858px){
.checkbtn{
display: block;

}
ul{
position: fixed;
width: 100%;
height: 90vh;
background: rgb(53, 48, 48);
top: 80px;
left: 100%;
text-align: center;
transition: all .5s;
}
nav ul li{
display: block;
margin: 50px 0;
line-height: 30px;
}
nav ul li a{

font-size: 20px;

}
li a:hover, li a.active{


    background: none;
    color: rgb(83, 241, 68);
}
#check:checked ~ ul{

    left: 0;
    position: absolute;
}
}
section h1{

    font-size: clamp(1.5rem, 5vw);
}
@media (max-width:700px){

.contenedor{
flex-direction: column;

}
.img{
padding: 30px 20px;

}
}
.pais{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 90%;
    margin: 15px auto;
}
@media (max-width:700px){
.pais{
flex-direction: column;

}


}
@media screen and (max-width:700px){

.colombia{font-size: 20px;}
.letra{font-size: 20px;}

}
#hero{background: url(../img/seccion.png);
background-size: cover;
background-position: left left;
background-repeat: no-repeat;
background-attachment: fixed;
}
@media screen and (max-width:700px){

.texto6{font-size: 20px;}
.texto7{font-size: 20px;}
}
@media (max-width:700px){
.parrafo2{
flex-direction: column;


}


}